* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #222831;
    padding: 20px;
}

.container {
    margin: 0 auto;
    background-color: #484f5d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 960px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.header-content {
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header img {
    height: 120px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 56px;
}

form input {
    width: 55%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form button {
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form button:hover {
    background-color: #0069d9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table th {
    width: 75%;
    background-color: #577677;
    color: #000000;
    border-radius: 5px 5px 0 0;
}

tfoot td {
    font-weight: bold;
    background-color: #435b5b;
    color: #fff;
    border-radius: 0 0 5px 5px;
}